.cta_hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_img {
  z-index: 0;
}

.linearGrad {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), 85%, rgb(255, 255, 255));
}

.cta_hero_text {
  z-index: 1;
  width: 70%;
  color: white;
}

.styled_button {
  background: none;
  color: white;
  border: solid white 1px;
  cursor: pointer;
  height: 50px;
  transition: all 0.5s;
  font-size: 15px;
}

.cta_button:hover {
  transform: scale(1.1);
}

.styled_button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.hero_name {
  font-family: "Courier New", Courier, monospace;
  font-size: 3.8rem;
  font-weight: 500;
  margin: 0;
}

.hero_titles {
  font-size: 1.4rem;
  margin: 0.5rem 0 2.5rem;
}

.skills_image_card {
  background: radial-gradient(#ec6782 0%, #a04bd9 75%);
  width: 100%;
  height: 250px;
  text-align: center;
}

.skills_block {
  width: 300px;
}

.skills_block h2 {
  text-align: center;
}

.skills_block p {
  line-height: 1.5;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
  padding: 50px 20px;
}

.section_title {
  text-align: center;
}

.section_title p {
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 1.2rem;
}

.section_body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contact_container {
  background-color: rgb(43, 43, 43);
  color: white;
  display: flex;
  flex-flow: column nowrap;
}

.contact_container p {
  text-align: left;
  line-height: 1.5;
  max-width: 550px;
  min-width: 300px;
  width: 100%;
}

.contact_form {
  display: flex;
  flex-flow: column nowrap;
  margin: 25px auto 0;
  max-width: 550px;
  min-width: 300px;
  width: 100%;
}

.text_input {
  margin: 10px 0 15px;
  height: 28px;
  padding-left: 10px;
}

.projects_container {
  background-color: black;
  color: white;
  padding: 0 8rem;
}

.project_card {
  width: 325px;
  height: 600px;
}

.card_image {
  background-color: white;
  padding: 15px;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 25px 10px;
}

.proj_one {
  grid-area: 1 / 2 / 2 / 4;
  justify-self: center;
}

.proj_three {
  grid-area: 1 / 4 / 2 / 6;
  justify-self: center;
}

.proj_two {
  grid-area: 2 / 3 / 3 / 5;
  justify-self: center;
}

.project {
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  width: 40%;
  align-items: flex-start;
  flex-direction: column;
}

.project span {
  margin-left: 15px;
}

.proj_stack {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.proj_title {
  display: flex;
  width: 100%;
  align-items: center;
}
.proj_title a {
  margin-left: 20px;
}

.tech_grid {
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  justify-content: space-evenly;
}

.serviceCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 25%;
  text-align: center;
}

.ssCard {
  height: 200px;
  width: 320px;
  position: relative;
}

.ssCard:nth-of-type(1) {
  bottom: 5%;
  left: 15%;
}

.ssCard:nth-of-type(2) {
  background-color: yellow;
  bottom: 15%;
  right: 35%;
}

.ssCard:nth-of-type(3) {
  background-color: red;
  bottom: 55%;
  left: 35%;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 55px 0;
}

.proj_image > span {
  box-shadow: -25px 30px 2px 0px darkgrey;
}

@media (max-width: 800px) {
  .cta_hero {
    height: 70%;
  }

  .cta_hero_text {
    width: 60%;
  }

  .hero_name {
    font-size: 1.8rem;
  }

  .section_body {
    flex-direction: column;
    align-items: center;
  }

  .section_title p {
    text-align: center;
    width: 80%;
  }

  .skills_block {
    width: 80%;
    margin-bottom: 30px;
  }

  .skills_image_card {
    width: 300px;
    margin: auto;
  }

  .skills_block p {
    text-align: center;
  }

  .project_grid {
    gap: 50px 0;
  }

  .proj_one {
    grid-column: 2/6;
    grid-row: 1;
    justify-self: start;
    width: 100%;
  }

  .proj_two {
    grid-column: 2/6;
    grid-row: 2;
    justify-self: start;
    width: 100%;
  }

  .proj_three {
    grid-column: 2/6;
    grid-row: 3;
    justify-self: start;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero_desc {
    display: none;
  }

  .cta_hero_text {
    width: 80%;
  }

  .contact_container {
    padding: 15px;
  }

  .serviceCards {
    flex-flow: column nowrap;
  }
  .card {
    width: 100%;
    margin: 15px 0;
  }
  .section {
    padding: 0 20px;
  }
  .listItem {
    flex-direction: column;
  }
  .project {
    width: 100%;
    padding: 0 5px;
  }

  .proj_image > span {
    box-shadow: none;
  }
}
