.nav {
    height: 8%;
    background-color: black;
    color:#ffffff;
}

.nav_list {
    margin: 0;
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.list_item {
    margin: 0 10px;
    cursor: pointer;
}
