.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 6px;
}
